/*@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamMedium.woff2') format('woff2'),
        url('../fonts/GothamMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamBold.woff2') format('woff2'),
        url('../fonts/GothamBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Pacifico.woff2') format('woff2');
}*/
.facebook-ui .card .card-box-shadow {
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
    -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
}
.card-post-icon img {
    margin: 0 -2px;
    width: 13px;
}
.post-share-btn {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.post-share-btn:hover {
  background-color: #e6e6e6 !important;
}

.morecontent span {
    display: none;
}
.morelink {
    display: inline-block;
}
.background_image {
    margin: 0 auto;
    padding-top: 8px;
    padding-left: 5px;
}
.background_color {
    margin: 0 auto;
    padding-top: 8px;
    padding-left: 5px;
}

/* CSS for Responsive */

@media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}
#loadmore {
  background-color: #3b5998;
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
#loadmore:hover {
  background-color: #273d6c; 
}
.social-icon {
  background-color: #3b5998;
  padding: 3px 8px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px #ededed;
  box-shadow: 0px 0px 8px #ededed;
  position: absolute;
  bottom: -33px;
  left: 15px;
  display: none;
  z-index: 12;
}
.social-icon:before {
  content: "\f0d8";
  color: #3b5998;
  position: absolute;
  bottom: 31px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 28px;
  font-family: FontAwesome;
  z-index: -1;
  height: 0;
  line-height: 0;
  display: inline-block;
}
.social-icon a {
  margin: 0 4px;
  color: #fff;
}

.grid 
  max-width: 1200px;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}
.grid-item,
.grid-sizer {
  width: 23.5%;
}

.gutter-sizer {
  width: 2%;
}

.grid-item {
  float: left;
  min-height: 80px;
  counter-increment: item;
  margin-bottom: 10px;
  border-radius: 10px;
}

@media only screen and (max-width: 1199px) {
    .grid-item,
    .grid-sizer {
      width: 32%;
    }
}

@media only screen and (max-width: 767px) {
    .grid-item,
    .grid-sizer {
      width: 48%;
    }
}

@media only screen and (max-width: 575px) {
    .grid-item,
    .grid-sizer {
      width: 100%;
    }
}
.insta_like, .insta_comments {
  font-size: 13px;  
}
.insta_like  i {
  color: red;
  vertical-align: middle;
  font-size: 16px;
}
.insta_comments i {
  font-size: 16px;
  color: #1f2535;
  vertical-align: middle;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.grid-item .card-body .card-text.more {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.hoverable_insta_link {
    position: absolute;
    top: 0;
    left: 0;
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 100%;
    height: 100%;
}
.grid-item .card-box-shadow:hover .hoverable_insta_link {
    opacity: 0.75;
}
.insta_view_post_icon {
  position: relative;
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
}
.hoverable_insta_link .fa-instagram {
    position: absolute;
    top: 44%;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    font-size: 36px;
    color: #fff;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.grid-item .card-box-shadow:hover .hoverable_insta_link .fa-instagram {
  -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}