<link rel="stylesheet" type="text/css" href="images/style.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
<div id="module-description">       
    <div class="container loempia_srt_container">
        <div class="container">
            <div class="oe_styling_v8">
                <section class="oe_container">
                    <div class="oe_row oe_spaced main_content">
                        <h1 class="oe_slogan">Instagram snippet in odoo, All instagram post in odoo website</h1>
                        <h2 class="oe_slogan">Features of Instagram Snippet in odoo</h2>
                        
                        <p class="oe_slogan">We have added below mentioned features for this Instagram snippet in odoo module</p>
                        <div class="oe_span3">
                        
                        </div>
                    </div>
                        <div class="row">
                            <div class="col">
                                <img  src="images/insta_icon.png" >
                                <div class="content-heading">
                                <h4 class="pt-2" class="pt-2">
                                <b>Super simple to set up</b>
                                </h4>
                                <p>
                                this odoo module is enabling Instagram feed in odoo with Super simple to set up
                                </p>
                                </div>
                            </div>
                            <div class="col">
                                <img  src="images/insta_icon1.png" >
                                <div class="content-heading">
                                <h4 class="pt-2">
                                <b>Completely responsive</b>
                                </h4>  
                                <p>
                                Instagram snippet in odoo Completely responsive and mobile ready, layout looks great on screen
                                </p>
                                </div>
                            </div>
                            <div class="col">   
                                <img  src="images/insta_icon2.png" >
                                <div class="content-heading">
                                <h4 class="pt-2">
                                <b>Display Instagram Post</b>
                                </h4>
                                <p>
                                Display your Instagram post in odoo website with Like and Comments show in every post
                                </p>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col">
                                <img  src="images/insta_icon3.png" >
                                <div class="content-heading">
                                <h4 class="pt-2">
                                <b>Display thumbnail & photos</b>
                                </h4>
                                <p>
                                Display thumbnail and medium photos from your Instagram feed in odoo website
                                </p>
                                </div>
                            </div>
                            <div class="col">
                                <img  src="images/insta_icon4.png">
                                <div class="content-heading">
                                <h4 class="pt-2">
                                <b> Infinitely load more </b>
                                </h4>
                                <p>
                                Infinitely load more of your Instagram photos with the Load More button in odoo website
                                </p>
                                </div>
                            </div>
                            <div class="col">
                                <img  src="images/insta_icon5.png" >
                                <div class="content-heading">
                                <h4 class="pt-2">
                                <b>Increase Social Engagement</b>
                                </h4>
                                
                                <p>
                                Increase your number of followers by displaying your Instagram post in odoo website
                                </p>
                                </div>
                            </div>
                        </div>
                </section>
                <section class="oe_container oe_dark menu_cash_report">
                        <div class="oe_row oe_spaced">
                            <h1 class="oe_slogan" style="font-size: 30px;color: #4e4bda;">This module allows to display instagram post in odoo using Following Five Steps:</h1>
                        </div>
                        <div class="oe_row oe_spaced">
                            <h2 class="oe_slogan">Show your instagram feed in odoo</h2>
                            <p class="oe_slogan">You can see below screenshot that 
                            <br> all instagram post is added in odoo<br/></p>

                                <div class="oe_demo oe_screenshot text-center">
                                    <img class="img-fluid" src="images/insta_main.jpeg" >
                                </div>
                        </div>
                        <br/>
                        <div class="oe_row oe_spaced">
                            <h2 class="oe_slogan">Go to Settings => Click on User ID and Token </h2>
                            <p class="oe_slogan">Using above mentioned link you can create user and token id for configure your instagram page in odoo</p>
                                <div class="oe_demo oe_picture oe_screenshot text-center">
                                    <img  src="images/Insta_snippet_screenshot1.png" >
                                </div>
                        </div>
                        <br/>
                         <div class="oe_row oe_spaced">
                            <h2 class="oe_slogan">Test added Username and Token</h2>
                            <p class="oe_slogan">You can test username and token for check the integration of instagram in odoo</p>
                                <div class="oe_demo oe_picture oe_screenshot text-center">
                                    <img  src="images/Insta_snippet_test_connection1.png" >
                                </div>
                        </div>
                        <br/>
                         <div class="oe_row oe_spaced">
                            <h2 class="oe_slogan">Instgram snippet in odoo</h2>
                            <p class="oe_slogan">Drag and Drop Instagram Snippet in odoo website
"</p>
                                <div class="oe_demo oe_screenshot text-center">
                                    <img  src="images/Insta_snippet_screenshot_last1.png" >
                                </div>
                        </div>
                         <div class="oe_row oe_spaced">
                            <h2 class="oe_slogan">Hover on post and click to redirect in instagram</h2>
                            <p class="oe_slogan">After drag and drop instagram snippet in odoo website then press on SAVE button, all instagram post display in odoo website with load more button</p>
                                <div class="oe_demo oe_screenshot text-center">
                                    <img  src="images/Insta_snippet_screenshot3.jpeg" >
                                </div>
                        </div>                        
                </section>

                     <section class="oe_row free-support text-center" style="padding-top: 32px;margin: auto;">
        <div style="margin-bottom:24px;">
          <h2 style="color:#333; font-weight: normal;margin-bottom:8px;">For Technical Help and Support</h2>
          
        </div>
        <p style="margin-bottom:0;font-family:Montserrat;color:#3e3d3d;font-weight: 400;">Aagam Infotech providing odoo application development company expertise in odoo development, odoo ERP customization, odoo integration, migration, cost-effective odoo development.</p>
        <p style="margin-bottom:0;font-family:Montserrat;color:#3e3d3d;font-weight: 400;line-height: 40px;">If you need expert advice in making technological choices in ODOO and/or external Odoo ERP Implementation Consultants to define your organizational specifications, we are here to assist you please contact us at <a href="mailto:business@aagaminfotech.com" style="color:#ee305d;"><span class="__cf_email__">business@aagaminfotech.com</span></a></p>
        <a href="http://aagaminfotech.com/" title="Aagam Infotech" target="_blank" style="display:inline-block;color:#ee305d;margin-top:40px;margin-bottom:40px;">
          <img src="https://i.ibb.co/zH0FPwk/logo.png">
        </a>
        <div>
          <a class="btn yellow-btn btn-lg" href="http://www.aagaminfotech.com/" title="Website" target="_blank" onmouseover="this.style.backgroundColor='#d32dd6'" onmouseout="this.style.backgroundColor='#ee305d'" style="font-family: Montserrat; background-color: #d32dd6; color: rgb(255, 255, 255); font-size: 16px; margin-right: 5px;">Website</a>
          <a class="btn yellow-btn btn-lg" href="skype:chirag_shah10?chat" title="Support Request" target="_blank" onmouseover="this.style.backgroundColor='#d61c48'" onmouseout="this.style.backgroundColor='#ee305d'" style="font-family: Montserrat; background-color: #029cd6; color: rgb(255, 255, 255); font-size: 16px; margin-right: 5px;">Skype Support</a>
          <a class="btn yellow-btn btn-lg" href="http://www.aagaminfotech.com/#services" title="Services" target="_blank" onmouseover="this.style.backgroundColor='#d61c48'" onmouseout="this.style.backgroundColor='#ee305d'" style="font-family: Montserrat; background-color: #ff930f; color: rgb(255, 255, 255); font-size: 16px; margin-right: 5px;">Services</a>
        </div>
      </section>
            </div>
        </div>
    </div>
</div>